.topnav {
    box-shadow: 2px 2px 10px grey;
    flex: 1px;
    flex-direction: row;
    justify-content: space-around;
}

.topnav .logo{

}

.topnav .textField{
    width: 30%;
}

.userPhoto{
    height: 40px;
    width: 40px;
}