.topnav {
    box-shadow: 2px 2px 10px grey;
    flex: 1px;
    flex-direction: row;
    justify-content: space-around;
}

.topnav .textField {
    width: 30%;
}

.userPhoto {
    height: 40px;
    width: 40px;
}

.loginText{
    width: 100px;
    height: 30px;
}

.loginText .text {
    font-size: 11px;
}

.loginText .username {
    padding-top: 10px; 
    font-size: 14px;
}